<h1>Mentor Matching</h1>
<table>
    <caption>Available mentors</caption>
    <thead>
        <tr>
            <th class="person-name">Name</th>
            <th class="person-email">Email</th>
            <th class="person-bio">Bio</th>
            <th class="person-specialties">Specialties</th>
        </tr>
    </thead>
    <tbody>
        {{#each mentors}}
            <tr>
                <td class="person-name">{{name}}</td>
                <td class="person-email"><a href="mailto:{{email}}">{{email}}</a></td>
                <td class="person-bio">{{bio}}</td>
                <td class="person-specialties">{{specialties}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
